.main_page{
    position: relative;
    display: block;
    width: 100%;
    height: 758px;
    background-image: url(../img/imgonline-com-ua-Resize-AsWanOeh2kRO-1.jpg)
    
}

body{
    display: inline-block;
}
.imgi{
    position: absolute;
    display: block;
    top : 100px;
    left: 200px;
    
}
.text_top{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
color: #55291B;
text-align: center;
padding-top:30px;
}

a{
    margin-left: 80px;
}
.slogan{
    font-family: Playfair Display;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 95px;
letter-spacing: 0em;
text-align: left;
color: #2A3A58;
}

.main-slogan{
position: absolute;
left: 130px;
top: 170px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
    
  }

  
form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 550px;
  margin: 100px  100px 100px 500px;
  background-color: rgba(221, 216, 216, 0.5);
  height:  450px;
  padding-left:75px ;
}
.form7-text{
  margin-left: 0px;
  margin-bottom: 2px;
  text-decoration: none;
  color: black;

}
  
*, *::before, *::after{
  box-sizing: inherit;;
}

.button{

background-color: #416C76;
color: white;

}



.btn-zayavka{
    position: absolute;
width: 314px;
height: 74px;
left: 130px;
top: 565px;
background: #416C76;
color:white;
border-radius: 38px;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
cursor: pointer;

}
button{
    cursor: pointer;
}
.author {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 45px;
margin: 0;
/* or 150% */
left: 130px;
top: 500px;
color: #7e3d29;
}

.tour-1{
position: absolute;
width:400px;
top:100px;
left:900px;
font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 42px;
line-height: 56px;
/* or 133% */


color: #2A3A58;

}

.text{
position: absolute;
width:400px;
top:300px;
left:825px;
font-family: Montserrat;
font-style: normal;
font-weight:100;
font-size: 28px;
line-height: 33px;
/* or 183% */


color: #55291B;
}

.btn2{
position: absolute;
top:450px;
left: 900px;
border: 2px solid #416C76;
box-sizing: border-box;
border-radius: 38px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
background:white;
color: #416C76;

width: 250px;
height: 75px;

}
